/* #6BA6D2 - aboutUs blue color */

*{
    line-height: 1.5em;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}

@font-face {
    font-family: avocadoReg;
    src: url(../My_Fonts/AvocadoFontFamily/Regular/Avocado\ Sans\ Regular.ttf);
}
@font-face{
    font-family: avocadoBold;
    src: url(../My_Fonts/AvocadoFontFamily/Bold/Avocado\ Sans\ Bold.ttf);
    font-weight: bold;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.loader img{
    height: 250px;
    width: 250px;
    margin: 0;
}


html{
    overflow-x: hidden;
}


body{
    margin: 0;
    padding: 0;
    background-color: #6BA6D2;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow-x:hidden;
}

/* .body-content{
    display: none;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
} */

#home, #aboutUs, .cellInfo, #events, #implementations, #policy, #collaborations, #team, #footer{
    scroll-snap-align: start;
}

/* .....Logo Blue  -  #76B9F0   rgb(118, 185, 240) */
/* .....Logo Green -  #9DCD5A   rgb(157, 205, 90)  */



/* ............................Home styling................... */

#home{
    height: 100vh;
    background-image: url(../images/main-background.webp) ;
    background-size: cover;
    background-attachment: fixed;
}

.nav-container{
    display: flex;
    width: 100%;

}

.logo-image img{
    width: 135px;
    height: 135px;
    padding: 10px;
    margin-left: 15px;
}


.navbar{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'poppins';
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.navbar a:hover{
    color:#B6D38E;
}

.banner-box{
   max-width: 50%;
   margin: 10px;
   padding: 10px;
   margin-left: 5%;
   margin-top: 5%;
}
.banner-box h1{

    font-size: 65px;
    font-weight: 700;
    color: white;
    font-family: 'poppins';
    /* letter-spacing: 1px; */
    border-bottom: 8px solid white;
    margin: 20px 0;
    width: 600px;
    height: 100px;
    overflow: hidden;

    animation-name: headerAnimate;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
.banner-box span{
    color: #FED049;
}
.banner-box p{
    font-size: 25px;
    font-weight: 300;
    line-height: 28px;
    font-family: 'poppins';
    text-align: left;
    padding: 5px 0;
   
    color: white;
    transition-delay: 1.5s;
}


@keyframes headerAnimate {
    from{
        width: 0;
        height: 0;
    }

    50%{
        width: 600px;
        height: 0;
    }

    to{
        width: 600px;
        height: 100px;
    }
    
}



@media screen and (max-width: 1260px) {

    .nav-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar{
        height: auto;
        /* border-bottom:1px solid black; */
    }

    .banner-box{
        max-width: fit-content;
        border-top: 1px solid black;
    }
    .content{
        height: auto;
    }   
}




@media screen and (max-width: 650px){
    .banner-box h1{
        width: 375px;
        height: 65px;
        font-size: 40px;
        margin: 5px 0px;
    }
    .banner-box p{
        font-size: 18px;
    }
    @keyframes headerAnimate {
        from{
            width: 0;
            height: 0;
        }
    
        50%{
            width: 375px;
            height: 0;
        }
    
        to{
            width: 375px;
            height: 65px;
        }
        
    }

}
@media screen and (max-width: 500px) {
    .banner-box h1{
        text-wrap: wrap;
        width: 100%;
        height: 55px;
        font-size: 35px;
        line-height: 45px;
    }
    @keyframes headerAnimate {
        from{
            width: 0;
            height: 0;
        }
    
        50%{
            width: 100%;
            height: 0;
        }
    
        to{
            width: 100%;
            height: 55px;
        }
        
    }

}

/* ..................hamburger nav for Mobile devices............ */
.hamburger{
    z-index: 100;
    position: fixed;
    top: 0;
    right: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 150px;
    cursor: pointer;
    
    appearance: none;
    background: none;
    outline: none;
    border: none;
    transition: all 1s;
}

.hamburger .bar, .hamburger::after, .hamburger::before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
    border-radius: 5px;
}
.hamburger.hamburger.is-active{
    position: fixed;
    top: 0;
    right: 110px;
}
.hamburger.is-active::before{
    transform: rotate(-45deg) translate(0,15.5px);
}

.hamburger.is-active::after{
    transform: rotate(45deg) translate(0, -15.5px);
}
.hamburger.is-active .bar{
    opacity: 0;
}

.mobile-nav{
    display: block;
    position: fixed;
    padding: 5px;
    height: 100vh;
    top: 100px;
    right: -100%;
    z-index: 200;
    transition: all 1s;
}
.mobile-nav nav{
    display: flex;
    flex-direction: column;
}
.mobile-nav.is-active{
    right: 0%;
    background-color: rgba(0, 0, 0,1);
    border-radius: 5px;
}
@media screen and (min-width: 845px) {
    .hamburger, .mobile-nav{
        display: none;
    }
}
@media screen and (max-width: 845px) {
    .nav-container .navbar{
        display: none;
    }
    .nav-container{
        justify-content: flex-start;
    }
}

/* 
.comp-Link{
    margin-top: 2%;
    margin-left: 6%;   
}

.comp-Link a{
    font-size: 20px;
    font-family: 'poppins';
    color: rgb(255, 255, 153);
} */



/* ......................Home page styling ends........................ */

/* ..............Animations CSS................. */


.hidden{
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-25%);
    transition: all 0.8s 0ms;
}


@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}



.right-flow-animate{
    transition-property: transform;
    transition-timing-function: ease-out;
}